<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
	</head>
	<body>
      <div class="alert alert-dismissible alert-danger" style="display: none;">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <h4>Warning!</h4>
	  <span class="message"><%=message%></span>
	  <% if (count == 0) { %>
           <% } else { %>
           	  你已经输入密码错误<span id="count"><%=count%></span>次
           <%  } %>
	</div>
		<form class="form-horizontal"  acitve="/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" name="user">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="pass">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
      </div>
    </div>
	<div class="form-group" id="code">
      <label for="inputEmail" class="col-lg-2 control-label">Verification Code</label>
      <div class="col-lg-5">
        <input type="text" class="form-control" id="inputCode" placeholder="Verification Code" name="code">
      </div>
      <div class="col-lg-5">
      		<img src="" alt="" class="img-code" id="one"/>
	        <img src="" alt="" class="img-code" id="two"/>
	        <img src="" alt="" class="img-code" id="three"/>
	        <img src="" alt="" class="img-code" id="four"/>
        <span class="change">Change One</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default" id="cancel">Cancel</button>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </fieldset>
</form>
		
		
		<script type="text/javascript" src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/login.js"></script>
	</body>
</html>
